// {
//   "presets": [
//     ["@babel/env", {
//       "targets": {
//         "browsers": [
//           ">0.25%",
//           "not ie 11",
//           "not op_mini all"
//         ]
//       },
//       "modules": false
//     }]
//   ]
// }

// .babelrc

{
  "presets": ["@babel/preset-env"]
}


// {
//   "presets": ["@babel/preset-env"],
//   "env": {
//     "test": {
//       "plugins": ["@babel/plugin-proposal-class-properties "]
//     }
//   }
// }